<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="menu.css">
    <title>Menu Desplegable</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="list">
        <li class="list_item">
          <div class="list_button">
            <img src="" class="list_img" />
            <a href="R" class="nav_link">Inicio</a>
          </div>
        </li>

        <li class="list_item list_item--click">
          <div class="list_button list_button--click">
            <img src="" class="" />
            <a href="#" class="nav_link">Servicios</a>
            <img src="/images/flecha.png" class="list_arrow" />
          </div>

          <ul class="list_show">
            <li class="list_inside">
              <a href="#" class="nav_link nav_link--inside">Estoy dentro</a>
            </li>

            <li class="list_inside">
              <a href="#" class="nav_link nav_link--inside">Estoy dentro</a>
            </li>

            <li class="list_inside">
              <a href="#" class="nav_link nav_link--inside">Estoy dentro</a>
            </li>
          </ul>
        </li>

        <li class="list_item">
          <div class="list_button">
            <img src="" class="" />
            <a href="#" class="nav_link">Estadisticas</a>
            <img src="" class="list_arrow" />
          </div>
        </li>

        <li class="list_item list_item--click">
          <div class="list_button list_button--click">
            <img src="" class="" />
            <a href="#" class="nav_link">Notificaciones</a>
            <img src="/images/flecha.png" class="list_arrow" />
          </div>
          <ul class="list_show">
            <li class="list_inside">
              <a href="#" class="nav_link nav_link--inside">Estoy dentro</a>
            </li>

            <li class="list_inside">
              <a href="#" class="nav_link nav_link--inside">Estoy dentro</a>
            </li>

            <li class="list_inside">
              <a href="#" class="nav_link nav_link--inside">Estoy dentro</a>
            </li>
          </ul>
        </li>
        </li>
      </ul>
    </nav>
    <div><img src="" alt="" /></div>
  </body>    
  <script src="menu.js"></script>

</html>